//Our colors throughpout the app!
$light: #fafafa;
$cardBg: whitesmoke;
$shadeLight: lightgrey;
$dark: #090909;
$linkColor: #525294;
$buttonColor: $cardBg;

$dirTreeBg: #8bcd73;
$effectsBg: #5a9c4a;
$loopBg: $light;
$trackPlaying: lightgrey;
