//Our colors throughpout the app!
$dirTreeBg: #e6d5ac;
$effectsBg: #5a9c4a;
$trackPlaying: lightgrey;

$light: #fafafa;
$cardBg: whitesmoke;
$shadeLight: lightgrey;
$dark: #090909;
$linkColor: #525294;
