
//The Center class in the flesh
.center {

    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.tutorialCard {

    @extend .card;

    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;

    width: 80%;

    .flyxerTitle {
    }

    .tagLine {

        font-style: italic;
    }

    .okayButton {

        @extend .center;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}
