@import 'base/base';

@import 'includes/nav';
@import 'includes/footer';

/*Our Imports*/
@import 'colors';
@import 'headers';
@import 'range';
@import 'scrollbars';
@import 'animate';
@import 'ngAnimate';

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: $light;
	color: $dark;
}

//Variable for our folder view width
$folderViewWidth: 275px;

//Our border Width
$borderDividerWidth: 5px;

//The Center class in the flesh
.center {

    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.icon {
	max-width: 35px;
	max-height: 30px;
	vertical-align: middle;
}

.trackControl {

	width: 100%;

	td {

		width: 33.33%;

		.track-reload {
			@extend .icon;

			display: block;
			margin: 0 auto;
			max-height: 20px;
		}

		.track-close {
			@extend .icon;

			display: block;
			margin: 0 auto;
			max-height: 20px;
		}

		.track-toggle {
			@extend .icon;

			display: block;
			margin: 0 auto;
			max-height: 20px;
		}
	}
}

.directoryTreeItem {

	background-color: $dirTreeBg;
	border-radius: 2px;
	padding: 5px;
	margin-right: 2px;
	margin-left: 2px;
	margin-top: 2px;
	margin-bottom: 2px;

	transition: margin-left 0.5s, color 0.5s;

	font-size: 14px;
	font-weight: bold;

	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: $dark;
	border-bottom-style: inset;
	border-radius: 0px;

	&:hover {

		margin-left: 5px;
		color: $linkColor;
	}
}

#directoryTreeContainer {

	@extend .scrollbar;

	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: $folderViewWidth;
	overflow: auto;
	background-color: $dirTreeBg;
	padding: 15px;

	z-index: 5;

	border-right-style: solid;
	border-right-width: $borderDividerWidth;
	border-right-color: $dark;
	border-right-style: inset;

	.fileTitle {

		font-weight: bolder;
		text-align: center;
		width: 235px;
		line-height: inherit;

		text-align: center;
	}

	.openFolder {

		height: 55px;
		margin-left: 20px;

		background-color: $light;
        padding-bottom: 0px;
        transition: box-shadow 0.5s ease-in-out, padding-bottom 0.5s ease-in-out;
        box-shadow: 0px 2px 5px 0px $dark;

        &:hover {

            background-color: $cardBg;
            box-shadow: none;
            padding-bottom: 5px;
        }
	}
}

#bottomBar {

	@extend .scrollbar;

	position: absolute;
	bottom: 0px;
	left: $folderViewWidth;
	right: 0px;
	height: 250px;
	overflow: auto;
	background-color: $effectsBg;
	padding: 15px;
	color: $dark;

	border-top-style: solid;
	border-top-width: $borderDividerWidth;
	border-top-color: $dark;

	.effectsContainer {

		width: calc(60% - 15px);
		float: left;
		margin-left: 15px;

		border-right-color: $dark;
		border-right-style: solid;
		border-right-width: thick;

		.effectsTitle {
			width: 100%;
			margin-right: auto;
			text-align: center;
			font-weight: bold;
		}


		.sliderFlex {

			display: flex;
			width: 100%;
			height: 200px !important;
			flex-wrap: wrap;
			justify-content: center;

			.flexItem {

				margin-left: 15px;
				margin-right: 15px;
				margin-top: 15px;
				margin-bottom: 15px;

				h5 {
					font-weight: bolder;
					text-align: center;
					margin-bottom: 5px;
				}

				h6 {
					font-weight: bolder;
					text-align: center;
					font-size: 16px;
					margin-bottom: 5px;
				}
			}
		}
	}


	.oneShotContainer {

		width: 40%;
		display: inline;

		.oneShotTitle {

			width: 100%;
			margin-right: auto;
			text-align: center;
			font-weight: bold;
		}
	}

}

#loopsContainer {

	left: $folderViewWidth;
	right: 0px;
	bottom: 250px;
	top: 0px;
	position: absolute;
	overflow: auto;
	background-color: $loopBg;
	padding: 15px;
}

.trackTutorial {


	&:hover {

		color: $linkColor;
		//text-decoration: underline;
	}
}

.trackFaderContainer {

	h6 {
		margin-bottom: 5px;
	}
}

.card {

  padding: 15px;
  box-shadow: 0px 1px 7px 1px $dark;
  background-color: $cardBg;
  margin: 0px 1rem 1rem;
  border-radius:3px;

  //Nice little animation on when the card height changes
  transition: height 0.35s ease-in-out;


  .trackTitle {
		text-align:center;
		margin-top: 10px;

	  word-wrap: break-word;
	  transition: margin-bottom 0.5s, color 1.0s;

  	&:hover {

  		color: $linkColor;
		//text-decoration: underline;
  	}

  }

  h6 {
	  word-wrap: break-word;
  }
}

.cardRepeat {
	width: 300px !important;
}

.trackPlaying {

	background-color: $trackPlaying;
	border: 2px dashed $linkColor;
}

.trackFlex {

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;

	margin-top: 10px;
}

/* Our last imports, quickfixes and tutorial page */
@import 'tutorial';
