@import 'base/base';

@import 'includes/nav';
@import 'includes/footer';

@import 'colors';

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: $light;
}

.trackPlaying {
	background-color: $trackPlaying;
}

.directoryTreeItem {
	background-color: $shadeLight;
	border-radius: 2px;
	padding: 5px;
	margin: 2px;
}

#directoryTreeContainer {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 200px;
	overflow: auto;
	background-color: $dirTreeBg;
	padding: 15px;
}

#effectsContainer {
	position: absolute;
  bottom: 0px;
  left: 200px;
  right: 0px;
  height: 250px;
  overflow: auto;
	background-color: $effectsBg;
	padding: 15px;
	color: $dark;
}

#loopsContainer {
	left: 200px;
	right: 0px;
	bottom: 250px;
	top: 0px;
	position: absolute;
	overflow: auto;
	background-color: $light;
}
