
<!-- The bottom effects bar, that also has space for
One Shots -->

<!-- Our effects -->
<div id = "bottomBar">

    <div class="effectsContainer">

        <h1 class = "effectsTitle">Master Effects</h1>

        <div class = "sliderFlex">

            <div class = "flexItem">
                <h5>Volume</h5>
                <h6>{{masterVolume}}</h6>
                  <input type="range"
                  value = "100"
                  min="0"
                  max="100"
                  ng-model="$parent.masterVolume"
                  ng-change="setVolume()">
                  </input>
          </div>

            <div class = "flexItem">
                <h5>Playback Speed</h5>
                <h6>x{{masterSpeed / 100}}</h6>
                  <input type="range"
                  value = "100"
                  min="0"
                  max="200"
                  ng-model="$parent.masterSpeed"
                  ng-change="setSpeed()">
                  </input>
          </div>

          <div class = "flexItem">
              <h5>Delay</h5>
              <h6>Gain: {{masterDelay}}</h6>
                <input type="range"
                min="0"
                max="100"
                ng-model="$parent.masterDelay"
                ng-change="setDelay()">
                </input>
         </div>

        <div class = "flexItem">
            <h5>Reverb</h5>
            <h6>Gain: {{masterReverb}}</h6>
              <input type="range"
              min="0"
              max="100"
              ng-model="$parent.masterReverb"
              ng-change="setReverb()">
              </input>
        </div>

      <div class = "flexItem">
          <h5>Lowpass Filter</h5>
          <h6>Frequency: {{masterLowPass}}</h6>
            <input type="range"
            min="0"
            max="4000"
            ng-model="$parent.masterLowPass"
            ng-change="setLowPass()">
            </input>
      </div>

      <div class = "flexItem">
          <h5>BitCrusher</h5>
          <h6>Bits: {{masterBitCrush}}</h6>
            <input type="range"
            min="0"
            max="16"
            ng-model="$parent.masterBitCrush"
            ng-change="setBitCrush()">
            </input>
      </div>

      </div>

    </div>

    <div class = "oneShotContainer">

         <h1 class = "oneShotTitle">One Shots</h1>
    </div>

</div>
