<!DOCTYPE html>
<html ng-app="Home">
  <head>
    <title>Electron Boilerplate: Hello World!</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="../../dist/vendor/skeleton/css/skeleton.css" />
    <!-- endbower -->
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body ng-controller="MainController">

      <h1>Looped</h1>

      <button ng-click = "openFile()">Add File/Folder</button>

      <div ng-repeat="track in tracks"><button ng-class="{trackPlaying: track.playing}" ng-click = "playSong($index)">{{track.title}}</button></div>

      <h3>reverb</h3>
      <input type="range" id="myRange" value="90">

      <h3>delay</h3>
      <input type="range" id="myRange" value="90">

    <!-- REQUIRED -->
    <script src="../../jspm_packages/system.js"></script>
    <script src="../../config.js"></script>
    <!-- bower:js -->
    <script src="../../dist/vendor/angular/angular.js"></script>
    <script src="../../dist/vendor/angular-mocks/angular-mocks.js"></script>
    <!-- endbower -->
    <script src="../../dist/vendor/Wad/build/wad.min.js"></script>
    <script src="../scripts/controllers/main.js"></script>
  </body>
</html>
