<!DOCTYPE html>
<html ng-app="Home">
  <head>
    <title>Electron Boilerplate: Hello World!</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="../../dist/vendor/skeleton/css/skeleton.css" />
    <!-- endbower -->
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body ng-controller="MainController">

      <div id="directoryTreeContainer">
        File menu

        <button ng-click = "openDir()">Open Folder</button>

        <!-- Layer 1 -->
        <div ng-repeat="layer1 in directory.children">
          <div class="directoryTreeItem" ng-if="layer1.type == 'file'" ng-click="addFile(layer1.path)">{{layer1.name}}p</div>

          <div class="directoryTreeItem" ng-if="layer1.type == 'directory'" ng-click="layer1.expand = !layer1.expand">{{layer1.name}} ></div>
          <!-- Layer 2 -->
          <div ng-if="layer1.expand" ng-repeat="layer2 in layer1.children" style="margin-left: 5px;">
            <div class="directoryTreeItem" ng-if="layer2.type == 'file'" ng-click="addFile(layer2.path)">{{layer2.name}}</div>

            <div class="directoryTreeItem" ng-if="layer2.type == 'directory'" ng-click="layer2.expand = !layer2.expand">{{layer2.name}} ></div>
            <!-- Layer 3 -->
            <div ng-if="layer2.expand" ng-repeat="layer3 in layer2.children" style="margin-left: 5px;">
              <div class="directoryTreeItem" ng-if="layer3.type == 'file'" ng-click="addFile(layer3.path)">{{layer3.name}}</div>

              <div class="directoryTreeItem" ng-if="layer3.type == 'directory'">{{layer3.name}} - Cannot be expanded (too deeply nested)</div>

            </div>

          </div>
        </div>

      </div>

      <div id="loopsContainer">

        <div ng-repeat="track in tracks"><button ng-class="{trackPlaying: track.playing}" ng-click="toggleTrack($index)">{{track.title}}</button></div>

      </div>


      <!-- Our effects -->
      <div id="effectsContainer">

          <div><h6>Master Volume</h6>
                <input type="range"
                value = "100"
                min="0"
                max="100"
                ng-model="masterVolume"
                ng-change="setVolume()">
                </input>
              </div>

          <div><h6>Playback Speed</h6>
                <input type="range"
                value = "100"
                min="0"
                max="200"
                ng-model="masterSpeed"
                ng-change="setSpeed()">
                </input>
              </div>

        <div><h6>Delay</h6>
              <input type="range"
              min="0"
              max="100"
              ng-model="masterDelay"
              ng-change="setDelay()">
              </input>
            </div>

      <div><h6>Reverb</h6>
            <input type="range"
            min="0"
            max="100"
            ng-model="masterReverb"
            ng-change="setReverb()">
            </input>
          </div>

    <div><h6>Lowpass Filter</h6>
          <input type="range"
          min="0"
          max="5000"
          ng-model="masterLowPass"
          ng-change="setLowPass()">
          </input>
        </div>

      </div>

    <!-- REQUIRED -->
    <script src="../../jspm_packages/system.js"></script>
    <script src="../../config.js"></script>
    <!-- bower:js -->
    <script src="../../dist/vendor/angular/angular.js"></script>
    <script src="../../dist/vendor/angular-mocks/angular-mocks.js"></script>
    <!-- endbower -->
    <script src="../../dist/vendor/Wad/build/wad.min.js"></script>
    <script src="../scripts/controllers/main.js"></script>
  </body>
</html>
